<div id="main-content">
  <h2 id="page-title"><a class="int-link" id="projects-link" href="/projects">PROJECTS <i class="fa fa-angle-double-left" aria-hidden="true"></i></a></h2>

  <div class="col-2">
    <h3 id="proj-title"><%= @project.name %></h3>
    <h4 id="proj-date"><%= @project.date %></h4>
    
    <div id="proj-text">
      <%= @project.info %>
    </div>
    <div id="proj-links">
      <% if @project.github_url %>
        <div><a href="<%= @project.github_url %>"><i class="fa fa-github" aria-hidden="true"></i> github</a></div>
      <% end %>
      <% if @project.project_url %>
        <div><a href="<%= @project.project_url %>"> Demo</a></div>
      <% end %>
      </div>
    </div>

  <div class="col-2" id="proj-images">
    <% @project.images.each do |image| %>
      <a href="#" data-featherlight="<%= image.local_url %>"><img class=proj-image src="<%= image.local_url %>"></a>
      <figcaption><%= image.caption %></figcaption>
    <% end %>
  </div>

  div#my-moda

  </div>
